#root {
  background-image: url('./pexels-scott-webb-593158.jpeg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat:no-repeat;
  font-family: 'BentonSans, Cambria, Cochin, Georgia, Times, Times New Roman, serif';
  /* max-width: auto;
  margin: center; */

}

.top-container {
  display: grid;
  grid-template-areas:
  'header'
  'navbar'
  ' mainsearch '
  'footer ';
  padding: 2em;
  


}

.header{
  padding: 2em;
}

.navbar{
  padding: 2em;
}

.mainsearch{
padding: 2em;
}


.footer{
  padding: 1em;

}
